@using RecipeFinder.WebClient.Models;
@{
    ViewBag.title = "Home";
}
<div class="row">
    @foreach (RecipeModel recipe in ViewBag.recipes)
    {
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/Content/images/1.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">@recipe.Title</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    }
</div>
<!-- /.row -->

@section scripts
{
    <script src="@Url.Content("~/Scripts/RecipeFinder/Home/index.js")"></script>
}