@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
/* Set a background image by replacing the URL below */
body {
    background: url('/Content/img/rachel-park-hrlvr2ZlUNk-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.logo-img {
    max-width: 100px;
}

.nav-item a {
    font-size: 22px;
    font-family: 'Goudy Bookletter 1911', serif;
}

.nav-item {
    margin-left: 20px;
}

.page-heading {
    margin-bottom: 20px;
}
